<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
  <!--<link rel="stylesheet" th:href="@{/main.css}">-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="text-align: center">
<div>

<div>
<h1>Indkøbskurv:</h1>
<table style="margin: auto">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Pris</th>
      <th>Antal</th>
      <th>Subtotal</th>
      <th>Fjern vare</th>
    </tr>
  </thead>

  <tbody>
  <!-- Hvad er itemStat.index (returner dens index tal i listen?) og
  hvorfor er der både "item og itemStat" i loopet???-->

  <tr th:each="item, itemStat : ${items}">
    <td th:text="${item.name}"></td>
    <td th:text="${item.price}"></td>
    <td th:text="${item.quantity}"></td>
    <td th:text="${item.price * item.quantity}"></td>

    <td>
      <form method="post" th:action="@{/cart/remove}" th:object="${itemStat.index}">
        <button type="submit">Fjern</button>
        <input type="hidden" name="index" th:value="${itemStat.index}"/>
      </form>
    </td>
  </tr>
  </tbody>

  <tr>
    <td colspan="3">Total:</td>
    <td th:text="${total}"></td>
    <td></td>
  </tr>

</table>
<p>
<form method="post" th:action="@{/cart/empty}">
  <button type="submit">Tøm indkøbskurv</button>
</form>
</p>

<!-- Hvordan kan det være at der ikke er behov for ?name=, ?price=, ?quantity= ?
     Er det fordi vi ikke laver objektet i endpointet og sender det til 'form' fx. th.object="${cartItem}?"
     Og er det fordi man bruger '<from>' at -->
<h1>Varer:</h1>
<form method="post" th:action="@{/cart/add}">
  <p><label>Navn:</label>
    <input type="text" name="name" required/></p>
  <p><label>Pris:</label>
    <input type="number" name="price" min="0" step="0.01" required/></p>
  <p><label>Antal:</label>
    <input type="number" name="quantity" min="1" required/></p>
  <button type="submit">Tilføj til indkøbskurv</button>
</form>
</div>
</body>
</html>
